body {
      background-color: rgb(6, 6, 100);
      color: rgb(166, 13, 193);
      text-align: center;
    }
    h1{
        font-size: 70px;
    }
    .box {
      height: 500px;
      width: 720px;
      align-items: center;
      margin-left: 750px;
      background-color: white;
      border-radius: 15px;
      font-size: 27px;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
      color: rgb(209, 4, 4);
      padding: 20px;
    }
    #convert{
      height:40px ;
      width: 140px;
      font-weight: bold;
      font-size: 25px;
    }
    .result {
      height: 50px;
      width: 60%;
      color: black;
      font-weight: bold;
      background-color: gray;
      margin: 15px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
    }
    .box2{
        border-radius: 10px;
        font-weight: bold;
        font-size: 20px;
        width: 50%;
        margin-top: 10px;
        height: 50px;
    }